<%-include('../partials/header')%>
    <div class="container d-flex flex-column justify-content-start align-items-center h-100 mt-5">
        <div class="alert alert-danger w-50 h-50" role="alert">
            <h4 class="alert-heading text-center"><%=status%> Error!</h4>
            <hr>
            <p><%=message%></p>
        </div>
    </div>
<%-include('../partials/footer')%>