<%-include('../partials/header')%>
    <h1 class="text-center">Add player</h1>
    <br>
    <br>
    <div class="container d-flex justify-content-start">
        <form action="/new" method="post" novalidate class="needs-validation">
            <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Name</label>
            <br>
            <input type="text" class="form-control w-100" id="exampleInputName1" name="name" required>
            <label for="exampleInputClub1" class="form-label">Club</label>
            <br>
            <input type="text" class="form-control w-100" id="exampleInputClub1" name="club" required>
            <label for="exampleInputCountry1" class="form-label">Country</label>
            <br>
            <input type="text" class="form-control w-100" id="exampleInputCountry1" name="country" required>
            <label for="exampleInputAge1" class="form-label">Age</label>
            <br>
            <input type="number" class="form-control w-100" id="exampleInputAge1" name="age" required>
            </div>
            <br>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
<%-include('../partials/footer')%>


